[View in Colaboratory](https://colab.research.google.com/github/harishrb/AICircle/blob/pandas/Pandas_DataFrames.ipynb)
# DataFrames

We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this!

In [0]:
import pandas as pd
import numpy as np

In [0]:
from numpy.random import randn

In [0]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A  0.539891  0.091748 -0.319668  0.426978
B -0.144786 -0.156522 -1.340736  1.157382
C -0.934575 -1.090420  1.887458  2.757485
D  0.880413 -1.865451 -0.459313 -1.189093
E  0.322819  2.564694  0.727890 -0.071686

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [5]:
df['W']

A    0.539891
B   -0.144786
C   -0.934575
D    0.880413
E    0.322819
Name: W, dtype: float64

In [6]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  0.539891  0.426978
B -0.144786  1.157382
C -0.934575  2.757485
D  0.880413 -1.189093
E  0.322819 -0.071686

DataFrame Columns are just Series

In [7]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [0]:
df['new'] = df['W'] + df['Y']

In [9]:
df

          W         X         Y         Z       new
A  0.539891  0.091748 -0.319668  0.426978  0.220223
B -0.144786 -0.156522 -1.340736  1.157382 -1.485522
C -0.934575 -1.090420  1.887458  2.757485  0.952883
D  0.880413 -1.865451 -0.459313 -1.189093  0.421100
E  0.322819  2.564694  0.727890 -0.071686  1.050709

** Removing Columns**

In [10]:
df.drop('new',axis=1)

          W         X         Y         Z
A  0.539891  0.091748 -0.319668  0.426978
B -0.144786 -0.156522 -1.340736  1.157382
C -0.934575 -1.090420  1.887458  2.757485
D  0.880413 -1.865451 -0.459313 -1.189093
E  0.322819  2.564694  0.727890 -0.071686

In [11]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  0.539891  0.091748 -0.319668  0.426978  0.220223
B -0.144786 -0.156522 -1.340736  1.157382 -1.485522
C -0.934575 -1.090420  1.887458  2.757485  0.952883
D  0.880413 -1.865451 -0.459313 -1.189093  0.421100
E  0.322819  2.564694  0.727890 -0.071686  1.050709

In [0]:
df.drop('new',axis=1,inplace=True)

In [13]:
df

          W         X         Y         Z
A  0.539891  0.091748 -0.319668  0.426978
B -0.144786 -0.156522 -1.340736  1.157382
C -0.934575 -1.090420  1.887458  2.757485
D  0.880413 -1.865451 -0.459313 -1.189093
E  0.322819  2.564694  0.727890 -0.071686

Can also drop rows this way:

In [14]:
df.drop('E',axis=0)

          W         X         Y         Z
A  0.539891  0.091748 -0.319668  0.426978
B -0.144786 -0.156522 -1.340736  1.157382
C -0.934575 -1.090420  1.887458  2.757485
D  0.880413 -1.865451 -0.459313 -1.189093

** Selecting Rows**

In [15]:
df.loc['A']

W    0.539891
X    0.091748
Y   -0.319668
Z    0.426978
Name: A, dtype: float64

Or select based off of position instead of label

In [16]:
df.iloc[2]

W   -0.934575
X   -1.090420
Y    1.887458
Z    2.757485
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [17]:
df.loc['B','Y']

-1.3407359342535974

In [18]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.539891 -0.319668
B -0.144786 -1.340736

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [19]:
df

          W         X         Y         Z
A  0.539891  0.091748 -0.319668  0.426978
B -0.144786 -0.156522 -1.340736  1.157382
C -0.934575 -1.090420  1.887458  2.757485
D  0.880413 -1.865451 -0.459313 -1.189093
E  0.322819  2.564694  0.727890 -0.071686

In [20]:
df>0

       W      X      Y      Z
A   True   True  False   True
B  False  False  False   True
C  False  False   True   True
D   True  False  False  False
E   True   True   True  False

In [21]:
df[df>0]

          W         X         Y         Z
A  0.539891  0.091748       NaN  0.426978
B       NaN       NaN       NaN  1.157382
C       NaN       NaN  1.887458  2.757485
D  0.880413       NaN       NaN       NaN
E  0.322819  2.564694  0.727890       NaN

In [22]:
df[df['W']>0]

          W         X         Y         Z
A  0.539891  0.091748 -0.319668  0.426978
D  0.880413 -1.865451 -0.459313 -1.189093
E  0.322819  2.564694  0.727890 -0.071686

In [23]:
df[df['W']>0]['Y']

A   -0.319668
D   -0.459313
E    0.727890
Name: Y, dtype: float64

In [24]:
df[df['W']>0][['Y','X']]

          Y         X
A -0.319668  0.091748
D -0.459313 -1.865451
E  0.727890  2.564694

For two conditions you can use | and & with parenthesis:

In [25]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [26]:
df

          W         X         Y         Z
A  0.539891  0.091748 -0.319668  0.426978
B -0.144786 -0.156522 -1.340736  1.157382
C -0.934575 -1.090420  1.887458  2.757485
D  0.880413 -1.865451 -0.459313 -1.189093
E  0.322819  2.564694  0.727890 -0.071686

In [27]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  0.539891  0.091748 -0.319668  0.426978
1     B -0.144786 -0.156522 -1.340736  1.157382
2     C -0.934575 -1.090420  1.887458  2.757485
3     D  0.880413 -1.865451 -0.459313 -1.189093
4     E  0.322819  2.564694  0.727890 -0.071686

In [0]:
newind = 'CA NY WY OR CO'.split()

In [0]:
df['States'] = newind

In [30]:
df

          W         X         Y         Z States
A  0.539891  0.091748 -0.319668  0.426978     CA
B -0.144786 -0.156522 -1.340736  1.157382     NY
C -0.934575 -1.090420  1.887458  2.757485     WY
D  0.880413 -1.865451 -0.459313 -1.189093     OR
E  0.322819  2.564694  0.727890 -0.071686     CO

In [31]:
df.set_index('States')

               W         X         Y         Z
States
CA      0.539891  0.091748 -0.319668  0.426978
NY     -0.144786 -0.156522 -1.340736  1.157382
WY     -0.934575 -1.090420  1.887458  2.757485
OR      0.880413 -1.865451 -0.459313 -1.189093
CO      0.322819  2.564694  0.727890 -0.071686

In [32]:
df

          W         X         Y         Z States
A  0.539891  0.091748 -0.319668  0.426978     CA
B -0.144786 -0.156522 -1.340736  1.157382     NY
C -0.934575 -1.090420  1.887458  2.757485     WY
D  0.880413 -1.865451 -0.459313 -1.189093     OR
E  0.322819  2.564694  0.727890 -0.071686     CO

In [0]:
df.set_index('States',inplace=True)

In [34]:
df

               W         X         Y         Z
States
CA      0.539891  0.091748 -0.319668  0.426978
NY     -0.144786 -0.156522 -1.340736  1.157382
WY     -0.934575 -1.090420  1.887458  2.757485
OR      0.880413 -1.865451 -0.459313 -1.189093
CO      0.322819  2.564694  0.727890 -0.071686

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [0]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [36]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [37]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.297580  0.011011
   2 -0.506615 -0.781688
   3 -0.726903 -0.030519
G2 1 -1.097621  0.386836
   2  0.542400  2.138745
   3  0.069857 -0.179827

Let's see how to index this! Calling one level of the index returns the sub-dataframe:

In [38]:
df.loc['G1']

          A         B
1  0.297580  0.011011
2 -0.506615 -0.781688
3 -0.726903 -0.030519

In [0]:
df.index.names = ['Group','Num']

In [40]:
df

                  A         B
Group Num
G1    1    0.297580  0.011011
      2   -0.506615 -0.781688
      3   -0.726903 -0.030519
G2    1   -1.097621  0.386836
      2    0.542400  2.138745
      3    0.069857 -0.179827

In [41]:
df.loc['G1']

            A         B
Num
1    0.297580  0.011011
2   -0.506615 -0.781688
3   -0.726903 -0.030519